body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: #333;
}

#main {
    background-color: #eeeeee;
    border-radius: 5px;
}

h1 {
    padding: 20px;
}

#img-div {
    background: white;
    margin: 20px;
    border-radius: 5px;
}

img {
    max-width: 100%;
    border-radius: 5px;
}

#img-caption {
    padding: 20px;
    font-size: 1.3em;

}

ul {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

#tribute-link {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    display: block;
}